ion-button {
  margin: 1.5em;
  width: 135px;
}

ion-grid {
  padding-top: 1.5em;
  padding-bottom: 2em;
}

ion-label {
  margin-left: 1.1em;
}

ion-row {
  margin-left: 2em;
}

ion-col {
  display: inline-flex;
  align-items: center;
}

h2 {
  margin-top: 10px;
}

span {
  font-size: 24px;
  padding-left: 1.1em;
  padding-right: 1.1em;
}
