<ion-header>
  <ion-toolbar>
    <ion-title>Batman <span class="fluxx-title">Fluxx</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Game Results</h1>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="remove-circle" size="large" color="favorite" (click)="rulesDecrement()"></ion-icon>
          <span class="number">{{ rulesNumber }}</span>
          <ion-icon name="add-circle" size="large" color="favorite" (click)="rulesIncrement()"></ion-icon>
        </ion-col>
        <ion-col>
          <h2># of Rules</h2>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="remove-circle" size="large" color="favorite" (click)="goalsDecrement()"></ion-icon>
          <span class="number">{{ goalsNumber }}</span>
          <ion-icon name="add-circle" size="large" color="favorite" (click)="goalsIncrement()"></ion-icon>
        </ion-col>
        <ion-col>
          <h2># of Goals</h2>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="remove-circle" size="large" color="favorite" (click)="keepersDecrement()"></ion-icon>
          <span class="number">{{ keepersNumber }}</span>
          <ion-icon name="add-circle" size="large" color="favorite" (click)="keepersIncrement()"></ion-icon>
        </ion-col>
        <ion-col>
          <h2># of Keepers</h2>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="remove-circle" size="large" color="favorite" (click)="creepersDecrement()"></ion-icon>
          <span class="number">{{ creepersNumber }}</span>
          <ion-icon name="add-circle" size="large" color="favorite" (click)="creepersIncrement()"></ion-icon>
        </ion-col>
        <ion-col>
          <h2># of Creepers</h2>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p class="totalPerGame">Total # per game</p>

    <ion-list>
      <ion-radio-group [(ngModel)]="winOrLose">
        <ion-item>
          <ion-label><span class="label">Win</span></ion-label>
          <ion-radio value="win" slot="start"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label><span class="label">Lose</span></ion-label>
          <ion-radio value="lose" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div class="ion-text-center ion-padding-top">
      <ion-button (click)="endGame()" color="favorite">End Game</ion-button>
      <ion-button (click)="quitGame()" color="favorite">Quit</ion-button>
    </div>
  </div>
</ion-content>
