<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Batman <span class="fluxx-title">Fluxx</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Batman <span class="fluxx-title">Fluxx</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Batman<br><span id="fluxx">Fluxx</span></h1>

    <br>
    <ion-button (click)=letsPlay() size="large" color="favorite">PLAY</ion-button>
    <br>
    <ion-button (click)=viewStats() size="large" color="favorite">STATS</ion-button>
  </div>
</ion-content>
