<ion-header>
  <ion-toolbar>
    <ion-title>Batman Fluxx</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Statistics</h1>
  </div>

  <!-- <h4>Total Games Played: {{ gameSvc.gameResults.length }}</h4> -->

  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <ion-card>
          <ion-card-content>
            0.0%
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Winning Percentage</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            0.0%
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Losing Percentage</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            {{ shortestGame }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Shortest Game</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            {{ longestGame }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Longest Game</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            {{ avgTurns }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Average # of Rules</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            0
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Average # of Goals</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            0
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Average # of Keepers</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            0
          </ion-card-content>

          <ion-card-header>
            <ion-card-title>Average # of Creepers</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
