ion-card-title {
  font-size: 1.1em;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

ion-card-content {
  font-size: 32px;
  padding-bottom: 0;
  font-family: 'Lato', sans-serif;
}

ion-card {
  text-align: center;
  box-shadow: 5px 5px 5px #bca429;
  border-radius: 20px;
}

small {
  font-size: 50%;
}
